body {
	line-height: 1.55;
	will-change: transform;
	font-family: raleway;
}
header {
	position: relative;
}
header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
footer {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}

.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;	
	transition: var(--transition);
}
.base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}   
.middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.header {
	margin-bottom: 20vh;
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 0 15px #9d822b;
}
.antext {
	position: relative;
    width: 35vh;
	letter-spacing: calc(var(--index) / 5);
	font-size: calc(var(--index) * 1.5);
}
.text-typing {
	font-size: calc(var(--index) * 2.1);
	letter-spacing: calc(var(--index) / 2.25);
}

.main__content {
	--content-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: auto;
	background-image: url(../img/dungeon.jpg);
	height: calc(var(--index) * 50);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}
.text {
	position: relative;
}
.texth2 {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--content-transform);
	transition: var(--transition);
	will-change: transform;
}
.textp {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--content-transform);
	transition: var(--transition);
	will-change: transform;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	text-align: center;
	width: calc(var(--index) * 30);
	height: auto;
	padding: calc(var(--index) * 2);
	background-color: #00150489;
	border-radius: 15px;
}
.contacts:hover {
	box-shadow: 0px 0px 30px 1px #03351a55;
}
.text-h2 {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transition: var(--transition);
	will-change: transform;
}

.input {
  width: calc(var(--index) * 20);
  height: 8%;
  background-color: #05060fa2;
  border-radius: 15px;
	padding: 3%;
  border: 2px;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}
.label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	text-align: center; 
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * 1);
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
	padding-top: 15px;
}
.message {
  height: 100px;
}
.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}
.input-group:hover, .input:focus {
  color: #ffffffc2;
}

.btn {
	margin: 5%;
	padding: 2% 2.5%;
	border: unset;
	border-radius: 12px;
	color: #212121;
	z-index: 1;
	background: #e8e8e8a4;
	position: relative;
	font-weight: 1000;
	font-size: 17px;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms;
	overflow: hidden;
}
.btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 10px;
	background-image: linear-gradient(to right, #0b381389 0%, #00510f89 100%);
	transition: .5s ease;	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms;
}
.btn:hover {
	color: #e8e8e8;
}
.btn:hover::before {
	width: 100%;
}
