body {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	line-height: 1.55;
	font-family: raleway;
}
.content, .hero, .title, .gallery > * {
	will-change: transform;
}
.container {
	padding: 0 5vw;
}
.hero {
	max-width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
}
.title {
	height: 100vh;
}
.title1 {
	font-size: calc(var(--index) * 8);
	position: absolute;
	width: min-content;
	bottom: 30vh;
	line-height: .9;
}
.title2 {
	font-size: calc(var(--index) * 3);
	position: absolute;
	width: 100vh;
	bottom: 20vh;
	line-height: .9;
}

.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 4) 0;
	flex-wrap: wrap;
}
.item {
	max-width: calc(var(--index) * 23);
	margin-bottom: var(--gallery-gap);
	max-height: calc(var(--index) * 27);
	border-radius: calc(var(--index) * 1);
}
.leftContent {
	margin: 0;
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.rightContent .item {
	margin: 0;
	margin-top: var(--gallery-gap);
}

.text {
	position: relative;
}
.texth2 {
	font-size: calc(var(--index) * 1.5);
	line-height: 2.4rem;
	margin-bottom: 1.5rem;
}
.textp {
	font-size: calc(var(--index) * .9);
	line-height: 1.75;
}